@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #000; /* Optional: to make the gradient more visible */
}

.gradient-text {  
  background: linear-gradient(270deg, #ff0080, #ff8c00, #40e0d0, #ff0080);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.left-timeline::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: -16px;
  border-style: solid;
  border-width: 16px 0 16px 16px;
  border-color: transparent transparent transparent #60a5fa;
}

.right-timeline::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: -16px;
  border-style: solid;
  border-width: 16px 16px 16px 0;
  border-color: transparent #60a5fa transparent transparent;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

html, body, #__next {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
